.button a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    font-size: calc(var(--h4) - 2px);
    font-weight: var(--fw);
    border: 2px solid var(--red);
    transform: scale(1);
    transition: transform 0.4s, background-color 0.4s, color 0.4s;
    text-align: center;
}

.button a:hover {
    background-color: var(--white);
    color: var(--black);
    transform: scale(1.1);
    border-color: var(--black);
}